<article>
  <h2>What is Notes by Nerds...?</h2>
  <div class="line"></div>
  <div class="articleBody clear">
      <figure> 
        <img src="assets/logo.png"/>
      </figure>
      <p>
         Notes by Nerds is the most convinient way to get the books you desire form you seniors. 
         It is the fastest way to compare bool price and buy books from online sellers in India.
      </p>
      <p>
        The notable serice of Notes by Nerds is that it successfully delivers the best quality second hand book online.
        Notes by Nerds provides a great platform for both buyers and sellers. You name it, we have it.
      </p>
      <h3>Lets Get Started...</h3>
  </div>
</article>