<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
  <img src="assets/logo.png">

  <a class="navbar-brand" [routerLinkActive]="['active']" routerLink="/">
    <span style="display: inline-block; margin-left: 10px;"> Notes by Nerds </span>
  </a>
  <button class="navbar-toggler" type="button" (click)= "toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{'show':navbarOpen}">
    <ul class="nav navbar-nav ml-auto" style="margin-right: 40px">
      <li class="nav-item">
        <a class="nav-link" (click)= "toggleNavbar()" [routerLinkActive]="['active']" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)= "toggleNavbar()" [routerLinkActive]="['active']" routerLink="/contact">Contact</a>
      </li>
      <!-- <ng-template #anonymousUser> -->
        <li class="nav-item">
          <a class="nav-link" (click)= "toggleNavbar()" routerLink="/signup">Sign-Up</a>
        </li>
      <!-- </ng-template>   -->
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{username}} ({{LoginStatus}})
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="notes">My Notes</a>
          <a class="dropdown-item" routerLink="notes">Request Notes</a>
          <a class="dropdown-item" routerLink="notes">Approve Requests</a>
          <a class="dropdown-item" routerLink="notes">Manage Notes</a>
          <a class="dropdown-item" (click)="onLogout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>