a:hover {
    cursor: pointer;
}
li {
    display: inline;
    margin-right: 40px;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999999;
    -moz-box-shadow: 0 8px 6px -6px #999999;
    box-shadow: 0 8px 6px -6px #999999;
    position: relative;
}
img {
    width: 3%;
    height: 1%;
    display: inline-block;
}
.navbar-nav a:hover {
    border-bottom: 2px solid #5fbae9;
}

.navbar-nav a:active {
    border-bottom: 2px solid #5fbae9;
}

@media only screen and (max-width: 700px) { 
    img {
        width: 7%;
        height: 5%;
        display: inline-block;
    }
}