/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    height: 100vh;
    background-size: cover;
    /* font-family: "Roboto",'PT Sans', sans-serif; */
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
app-root {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: block;
}
.myLogo {
    display: block;
    width: 100px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -50px;

}
.loader {
    display: block;
    overflow: hidden;
    text-align: center;
    margin-top: 10%;
    font-size: 0;
}
.loader-item {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 2px;
    background-color: rgba(102, 99, 99, 0.493);
    color: rgba(212, 207, 207, 0.61);
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: infinite;
}
.loader-item:nth-child(1) {
    animation-delay: 100ms;
}
.loader-item:nth-child(2) {
    animation-delay: 200ms;
}
.loader-item:nth-child(3) {
    animation-delay: 300ms;
}
.loader-item:nth-child(4) {
    animation-delay: 400ms;
}
.loader-item:nth-child(5) {
    animation-delay: 500ms;
}
.loader-item:nth-child(6) {
    animation-delay: 600ms;
}
.loader--fade .loader-item {
    animation-name: fade;
    animation-duration: 1000ms;
}
@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}  